@charset "UTF-8";
/* Style for the page title */
h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

/* Style for the table */
table {
  border-collapse: collapse;
  margin: 0 auto;
}

table td, table th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

/* Style for the table header row */
table th {
  background-color: #ddd;
  font-weight: bold;
}

/* Style for the "Update" and "Delete" links */
a {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}
